[submodule "f411/libopencm3"]
	path = f411/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "qemu/libopencm3"]
	path = qemu/libopencm3
	url = https://github.com/libopencm3/libopencm3
